.my_table {
    border-collapse: collapse;
    max-width: 700px;
    margin: auto;
}

th {
    background: #ccc;
}

th,
td {
    border: 1px solid rgb(128, 126, 126);
    padding: 8px;
}

tr:nth-child(even) {
    background: #bbafaf;
}

tr:hover {
    background: #d1d1d1;
}